
@{
    ViewBag.Title = "mate";
}
@Html.Partial("navBar")
<form role="form">
    <div class="form-group">
        <label for="txtGeneral">Calificacion total @ViewBag.resultado</label>
        <input type="text" class="form-control" id="txtGeneral" disabled value="@ViewBag.mensaje">
    </div>   
</form>
